.placeholder-image {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

// .property-details-mainwrapper {
//   display: flex;
//   flex-direction: column;
// }

// .property-details-container {
//   width: 100%;
//   flex: 2;
// }

// .agents-tenants-container {
//   width: 100%;
//   flex: 1;
// }

.agents-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.gallery-container {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  .view-all {
    // padding: 20px;
    flex: 2;
    height: 100%;
  }

  .gallery-col {
    border-radius: 6px;
    height: 100px;
    width: 100%;
    vertical-align: top;
    border-radius: 6px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .gallery-col:nth-child(2n) {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.fixed-image-container {
  width: 100%;
  .fixed-image {
    width: 100%;
  }
}

@media only screen and (min-width: 1140px) {
  .fixed-image-container {
    width: 350px;
    .fixed-image {
      width: 350px;
    }
  }
}

@media only screen and (min-width: 1280px) {
  //   .property-details-mainwrapper {
  //     flex-direction: row;
  //   }

  //   .property-details-container {
  //     flex: 3;
  //   }
  //   .agents-tenants-container {
  //     margin-top: 0;
  //     flex: 1;
  //   }

  .agents-container {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .fixed-image-container {
    width: 350px;
    .fixed-image {
      width: 350px;
    }
  }
}

// .amenities-grid {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
//   grid-template-rows: repeat(6, 200px);
//   grid-gap: 1rem;
//   grid-auto-flow: dense;
// }

// @media only screen and (min-width: 1400px) {
//   .amenities-grid {

//   }

// }
